<form role="form" ng-submit="vm.submit()">
  <div class="form-group">

    <label for="document__odtfile">Choose a file to upload</label>
    <!-- input
      type="file"
      class="form-control"
      id="document__odtfile"
      placeholder="Choose a file"
      ng-model="vm.odtfile" -->
      <input type="file" documentfile
        name="odtfile"
        class="form-control"
        id="document__odtfile"
        ng-model="vm.odtfile" />
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">
      Upload
    </button>
  </div>
</form>